<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/myicone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myicone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity" android:screenOrientation="landscape"/>
        <activity android:name=".LogInActivity" android:screenOrientation="landscape"/>
        <activity android:name=".PlayActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ListOfPlayer" android:screenOrientation="landscape"/>
        <activity android:name=".LessonActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ResPasActivity" android:screenOrientation="landscape"/>
        <activity android:name=".SignUpActivity" android:screenOrientation="landscape"/>
        <activity android:name=".DeckOfCards" android:screenOrientation="landscape"/>
        <activity android:name=".Customization" android:screenOrientation="landscape"/>
        <activity android:name=".SplashScreenLayout" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".CommonPlayer"
            android:enabled="true"
            />
        <service
            android:name=".BattlePlayer"
            android:enabled="true" />
    </application>

</manifest>